<%= div_for(comment) do %>
  <div class="comments_wrapper clearfix">
    <div class="pull-left">
      <p class="lead comment-body"><%= comment.body %></p>
      <p><small>Submitted <strong><%= time_ago_in_words(comment.created_at) %> ago</strong> by <%= comment.user.username %></small></p>
    </div>

    <div class="btn-group pull-right">
      <% if comment.user == current_user -%>
        <%= button_tag 'Edit', class: "btn btn-sm btn-default comment-edit", :data => { :comment_id => comment.id } %>
      <% end %>
      <% if comment.user == current_user -%>
        <%= link_to 'Remove', comment, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-sm btn-default" %>
      <% end %>
    </div>
  </div>
<% end %>
