<div class="conference row clearfix">
  <div class="col-md-10">
  <h3>
    <%= link_to conference.title, conference %><br>
    <div class="pull-right conference-button-bar">
      <a class="btn btn-default btn-sm" href="<%= conference.url %>"><span class="glyphicon glyphicon-globe icon-left"> Website</span></a>
      <%= render :partial => "follow_conference", :locals => { :conference => conference } %>
    </div>
    <small class="author">Submitted <%= time_ago_in_words(conference.created_at) %> by <%= conference.creation_user.username %></small>
  </h3>
</div>
</div>

