<div class="conference row clearfix">
  <div class="col-md-10">
  <h2>
    <% if conference.user.blank? %>
      <p>The user that submitted this conference has deleted their account</p>
    <% else %>
      <%= link_to conference.title, conference %><br>
    <div class="btn-group pull-right conference-button-bar">
      <a class="btn btn-default btn-sm" href="<%= conference.url %>"><span class="glyphicon glyphicon-globe icon-left"> Website</span></a>
      <%= render :partial => "like_conference", :locals => { :conference => conference } %>
    </div>
      <small class="author">Submitted <%= time_ago_in_words(conference.created_at) %> by <%= conference.user.username %></small>
    </h2>
  <% end %>
  </div>
</div>

