
<% following = current_user && current_user.following?(conference) %>
<% following_count = conference.followings_count + (following ? 0 : 1) %>
<% not_following_count = conference.followings_count - (following ? 1 : 0) %>

<% if current_user %>
	<%= link_to follow_conference_path(conference), remote: true, method: :post, class: "btn btn-lg btn-radar#{following ? ' following' : ''}" do %>
      <span class="following-text">
        <span class="hidden-xs">
          On my radar
        </span>
        <span class="visible-xs">
          <%= following_count %>
        </span>
      </span>
      <span class="not-following-text">
        <span class="hidden-xs">
          Put it on my radar!
        </span>
        <span class="visible-xs">
          <%= not_following_count %>
        </span>
      </span>
	  <%= content_tag(:span, { :class => "badge hidden-xs" }.deep_merge(tooltip_popup("People who have this conference on their radar"))) do %>
	    <span class="following-text"><%= following_count %></span>
	    <span class="not-following-text"><%= not_following_count %></span>
	  <% end %>
	<% end %>
<% else %>
	<%= link_to new_user_session_path, class: "btn btn-lg btn-radar" do %>
      <span class="hidden-xs">
        Put it on my radar!
      </span>
      <span class="visible-xs">
        <%= not_following_count %>
      </span>
	  <%= content_tag(:span, { :class => "badge hidden-xs" }.deep_merge(tooltip_popup("People who have this conference on their radar"))) do %>
	    <%= not_following_count %>
	  <% end %>
	<% end %>
<% end %>

