<ol class="breadcrumb">
  <li class="hypertext-link-format"><%= link_to "All Conferences", conferences_path %></li>
  <li class="active"><%= truncate(conference.title, :length => 60) %></li>
</ol>

<div class="page-header">
  <h3 class="hypertext-link-format"><%= link_to conference.title, conference.url, :target => "_blank" %></h3>
  <% if policy(conference).edit? -%>
    <%= link_to 'Edit', edit_conference_path(conference), class: "btn btn-info btn-sm" %>
  <% end %>
  <% if policy(conference).destroy? -%>
    <%= link_to 'Remove', conference, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger btn-sm" %>
  <% end %>
  <%= render :partial => "follow_conference", :locals => { :conference => conference } %>

  <h2 class="dates"><%= conference_dates(conference) %> in <%= conference.city_state %></h2>
  <h2 class="submitter">Location/Venue: <%= conference.location %></h2>
  <h2 class="submitter">Submitted by <%= conference.creation_user.username %></h2>

  <p> Followed by: 
    <%= conference.followers.map{|c| c.username}.join(", ") %>
  </p>
</div>


<section class="comments-section">
  <h3><%= pluralize(conference.comments.count, "Comment") %></h3>

  <%= render :partial => conference.comments %>

  <%= simple_form_for [conference, Comment.new]  do |f| %>
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-8">
          <div class="field">
            <%= f.text_area :body, class: "form-control", rows: 5 %>
          </div>
        </div>
      </div>
    </div>
    <br>
    <%= f.submit "Add Comment", class: "btn btn-primary" %>
  <% end %>
</section>
