<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for?(:title) ? yield(:title) + " - ": ""%>What Conference?</title>
    <meta name="description" content="What Conference is a simple calendar for you to track upcoming conferences. Don't let another conference fall of your radar">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?v=3.exp&libraries=places&key=#{Nenv.google_browser_api_key}" %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= render "layouts/google_analytics" %>
    <%= render "layouts/favicons" %>
    <%= csrf_meta_tags %>
  </head>
  <body class="page">
    <%= render "layouts/navbar" %>

    <div class="page-container">
      <div class="flash">
        <% flash.each do |name, msg| %>
          <%= content_tag :div, msg, class: flash_alert_class(name), data: { flash: name } %>
        <% end %>
      </div>

      <% if current_user.andand.cannot_login? %>
        <div class="alert alert-success text-center sign-in">Make sure to
          <%= link_to "sign in before you leave", account_path, :class => "hypertext-link-format" %> otherwise you'll lose the conferences on My Radar after you leave.
        </div>
      <% end %>
    </div>

    <div class="page-container page-content">
      <% unless content_for(:raw_body) %>
        <%= yield %>
      <% end %>
    </div>

    <% if content_for(:raw_body) %>
      <%= yield %>
    <% end %>
  </body>
</html>
