<!DOCTYPE html>
<html>
  <head>
    <title>What Conference?</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=#{Nenv.google_browser_api_key}" %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= render "layouts/favicons" %>
    <%= csrf_meta_tags %>
  </head>
  <body class="page">
    <nav class="navbar navbar-default navbar-wc navbar-lg" role="navigation">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-01">
          <span class="sr-only">Toggle navigation</span>
        </button>
        <%= link_to root_path, :class => "navbar-brand" do %>
          <%= image_tag "logo.png", :class => "brand-image" %>
          What Conference?
        <% end %>

      </div>
      <div class="collapse navbar-collapse" id="navbar-collapse-01">
        <ul class="nav navbar-nav">
          <li><%= link_to new_conference_path, :class => "nav-action" do %>
            <i class="fa fa-plus icon-left"></i> Add Conference<% end %></li>
        </ul>

        <ul class="nav navbar-nav navbar-right">
          <% if user_signed_in? -%>
            <li><%= link_to 'Account', account_path %></li>
            <li><%= link_to 'Sign out', destroy_user_session_path, :method => :delete %></li>
          <% else -%>
            <li><%= link_to 'Sign in', new_user_session_path %></li>
          <% end -%>
        </ul>
      </div>
    </nav>

    <div class="page-container">
      <% flash.each do |name, msg| %>
        <%= content_tag(:div, msg, class: flash_alert_class(name)) %>
      <% end %>

      <%= yield %>
    </div>

  </body>
</html>
