<!DOCTYPE html>
<html>
  <head>
    <title>What Conference?</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?v=3.exp&libraries=places&key=#{Nenv.google_browser_api_key}" %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= render "layouts/google_analytics" %>
    <%= render "layouts/favicons" %>
    <%= csrf_meta_tags %>
  </head>
  <body class="page">
    <%= render "layouts/navbar" %>

    <div class="page-container">
      <div class="flash">
        <% flash.each do |name, msg| %>
          <%= content_tag :div, msg, class: flash_alert_class(name), data: { flash: name } %>
        <% end %>
      </div>

      <% if current_user.andand.cannot_login? %>
        <div class="alert alert-success">Thanks for trying out What Conference! Explore and use the site, but make sure to
          <%= link_to "sign in before you leave", account_path, :class => "hypertext-link-format" %> otherwise you won't be able to access your profile next time you visit.
        </div>
      <% end %>

      <%= yield %>
    </div>
  </body>
</html>
